:root {
    --color-font: black;
}
* {
    font-family: "Istok Web", sans-serif;
}
.dark_mode {
    --color-font: white;
    background-color: black;
}
#dark_mode_button_svg {
    fill: var(--color-font);
}
#whatsapp {
    fill: var(--color-font);
}
#github {
    fill: var(--color-font);
}
#linkedin {
    fill: var(--color-font);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    height: 100vh;
    color: var(--color-font);
}
.container_principal {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 80%;
}
.cabecalho {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.cabecalho__menu__link {
    text-decoration: none;
    color: var(--color-font);
    font-size: 1.5rem;
}
.divisoria {
    align-self: center;
    width: 80%;
    border: 1px solid #d9d9d9;
    box-shadow: 0 5px 20px rgba(217, 217, 217, 0.25), 0 -5px 0 rgba(0, 0, 0, 0);
}
.conteudo__container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.dark_mode_button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3.4375rem;
    height: 6.6875rem;
    border-radius: 40px;
    box-shadow: 0px 5px 20px rgba(217, 217, 217, 0.25);
}
.conteudo__container__principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.375rem;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.conteudo__container__principal div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conteudo__container__principal div h1 {
    color: var(--color-font);
    font-size: 2.8rem;
    line-height: 3.5rem;
}
.conteudo__container__principal a {
    text-decoration: none;

    color: black;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 4rem;
    background-color: white;
    box-shadow: 0 5px 20px rgba(217, 217, 217, 0.25), 0 -5px 0 rgba(0, 0, 0, 0);
    align-self: center;
}
.conteudo__container__principal__img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo__container__principal__img img {
    width: 80%;
    height: 80%;
}
.menu__redes .redes__sociais {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}
.menu__redes .redes__sociais {
    color: var(--color-font);
}
@media screen and (max-width: 1450px) {
    .conteudo__container__principal a {
        font-size: 1.5rem;
    }
    .menu__redes .redes__sociais {
        flex-direction: row;
    }
    conteudo__container__sobre {
        margin: 0 2rem;
    }
    .conteudo__container__sobre p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1350px) {
    .dark_mode_button {
        width: 6.6875rem;
        height: 3.4375rem;
    }
}

.conteudo__container__sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteudo__container__sobre h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.conteudo__container__sobre p {
    font-size: 2rem;
    line-height: 3rem;
    width: 80%;
    text-align: center;
}
.conteudo__container__skills {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteudo__container__skills h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.conteudo__container__skills ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.conteudo__container__skills ul li {
    display: flex;
    color: var(--color-font);
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(217, 217, 217, 0.25);
}
.conteudo__container__projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-font);
    justify-content: center;
}
.conteudo__container__projetos h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.conteudo__container__projetos p {
    font-size: 2rem;
    line-height: 3rem;
    width: 80%;
    text-align: center;
}
.conteudo__container__servicos h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.conteudo__container__servicos p {
    font-size: 2rem;
    line-height: 3rem;
    width: 80%;
    text-align: center;
}
.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font);
    padding-bottom: 3rem;
}
.rodape h3 {
    font-size: 1.5rem;
}
